.left-arrow-icon a{
    text-decoration: none;
    color: black;
}

.left-arrow-icon h4 :hover{
    color: blue;

}
.double-border{

    height: 1px;
    border-top: 1px black dotted;
    border-bottom: 1px black dotted;


}

.mag-subs-imgs{
    width: 165px;
    height: 220px;

}
.bisuness-news-margin img{
    width: 100%;
}
.recc-news img{
    width: 100%;


}

@media screen and (max-width:425px) {

    .bisuness-news-margin{
        /* margin-left: -1px; */
        margin-right: 20px;
    }

    .recc-news{
        margin-right: 40px;


    }
    
}

