
*{
    padding: 0;
    margin: 0;
   
}

.logo{
    height: 73.53px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.double-border{
    height: 1px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;   

}


.banner img{
    margin-top: 30px;
    width: 100%;
}
.egt{
    display: flex;
}

.heading{
    margin-top: 30px;

}
#underline{
    height: 1px;
    border-top: none;
    border-bottom: 1px dotted black;
}

#a-text-black{
    color: black;
}

.video{
    margin-bottom: 20px;
}
.second-side-bar{
    margin-bottom: 50px;
}

.second-side-bar input{
    width: 100%;
}

.search-bar input{

    width: 275px;
    height: 40px;

}

.search-bar button{
    height: 40px;
    width: 40px;
    justify-content: center;
}

.video iframe{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:768px) {

    .video{
        width: 100%;
    }
    
}

@media screen and (max-width:425px) {

    .video{
       height: 220px;
       
    }
    
}

@media screen and (max-width:320px) {

    .copy-right i{
        padding-left: -15px;
    }
    
}


@media screen and (max-width:425px) {

    .cont2{
        margin-left: 5px;
    }
    
}

@media screen and (max-width: 1024px) {

    .Others hr{
        margin-top: 80px;

    }

}



@media screen and (max-width:425px) {
    .banner{
      margin-left: -30px;
    }
    .heading{
      margin-left: -30px;

    }
    .video{
        margin-right: 30px;
    }
    
    .border-btm{
        margin-left: -90px;
    }
    .second-side-bar{
        padding-left: 30px;
    }
    .spnews{
        margin-right: 30px;
    }
    section{
        margin-left: -30px;

    }
    .top-news{
        margin-left: -20px;
    }
    .carousel-item a img{
        margin-left: -20px;
    }
    .carousel-item p-4{
        margin-left: 30px;
    }
   
    #bussnews img{
        margin-right: 20px;
    }
    .link-margin{
        margin-right: 30px;
    }
    
}


@media screen and (max-width:425px) {

    .cimgprt  {
       margin-left: -25px;
     }
     .bussnews{
        margin-right: 20px;
     }
     .hiltnews{
        margin-left: -1px;
     }
     .technews{
        margin-left: -1px;

     }
     .reccnews{
        margin-left: -1px;


     }
     .anilogos{
        margin-left: -1px;


     }
     .footlinks{
        margin-left: -1px;

     }
     
}



@media screen and (max-width:2560px) {

    .copyrt-rt{
        padding-left: -300px;
    }
    
}

#sponsered-news-img{
    display: flex;
}

.sd-bar-down-prt img{
    width: 100%;
}

.border-btm{
    margin-top: -100px;


}


.top-news{
    width: 100%;
}

.featured-news{
    background-color: black;
    color: white;
}
img{
    width: 100%;
}


.banner-card{
    position: relative;
}
.banner-card img{
    max-width: 100%;
    height: auto;
}
.banner-text{
    position: absolute;
    top: 25%;
    color: white;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.banner-text h2{
    position: absolute;
    /* top: 25%; */
    color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
}


.info h1 p{
    margin-bottom: 400px;
}

html,body{
    
   padding-left: 0;
    overflow-x: hidden;
    max-width: 100%;
    overscroll-behavior: none;
    padding-right: 0;
    justify-content: center;
    margin: 0;
    margin-left: 0;
    margin-right: 0;

}


.f-mags div{

    justify-content: space-evenly;


}


.menu{
    display: none;
}



@media screen and (max-width:320px) {

    .logo{
    
        margin-right: 80px;
    }
    
}


@media screen and (max-width:320) {

    .slider1{
        width: 100% ;
    }
    .slider-item {
        width:100%;
    }
    
}


@media screen and (max-width:768px) {

    .img{
        padding-right: 30px;
    }
    
}

@media screen and (max-width:425px) {

    .egt{

        display: block;
    
    }
    
}


@media screen and (max-width: 766px) {
    .menu{
        display: block;
        margin-left: 30px;
        border: 4px black;
     
    }
    .menu:active > .dropdown-menu
{
    display: flex;
}
}


@media screen and (max-width: 766px) {
    .nav-toggle {
        display: block;
        margin-left: 20px;
    }

    .nav-links {
        position: relative;
        left: -100%;
        width: 100%;
        display: none;
        
    }
    .nav-links.active {
        left: 0;
    }

    .nav-links .navbar{
        flex-direction: column;
    }

    .navbar ul{
        flex-direction: column;

    }
    .navbar li a{
        flex-direction: column;

    }
    .navbar select{
        flex-direction: column;

    }
    .navbar a.btn{
        flex-direction: column;


    }
   
    .navbar {
        display: block;
        width: 100%;
    }
    
}

.active a h5{
    color: white;
    text-decoration-color: white;
}





/* search-bar starts */

@media screen and (max-width:768px) {

    .search-bar{
        justify-content: center;
        max-width: 400px;
            
    }
    
}


@media screen and (max-width:320px) {

    .search-bar{
        padding-left: 40px;
        padding-right: 40px;
        
    }
    
}
@media screen and (max-width:425px) {

    .search-bar{
        margin-top: 10px;
        margin-bottom: 40px;
       
    }
    
}
@media screen and (max-width:576px) {

    .side-bar{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        
    }
    
}
@media screen and (max-width:1024) {
    .search-bar{
        width: 100px;
    }
    
}

/* search-bar ends */


.search-bar{
    display: flex;
    margin-top: 120px;
    

}
#search-icon button:hover{
    background-color: gray;
    color: white;
}



/* side bar */

.side-bar{
    width: 100%;
    border: 2px solid;
    border-top: 10px solid;
    margin-top: 50px;
   
}

@media screen and (max-width:768px) {
    .second-side-bar{
      margin-left: 60px;
    }
    
}
@media screen and (max-width:576px) {

    .second-side-bar{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    
}

.second-side-bar{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding-bottom: 50px;
    margin-left: 7px;
    
}

.second-side-bar button{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(58, 55, 55);
    color: white;
    
}

.second-side-bar button:hover{
    background-color: rgb(37, 36, 36);
}

.second-side-bar button:active{
    
    border-color: gray;
}


@media screen and (max-width:425px) {
    .second-side-bar{
        margin-left: 50px;
        margin-right: 50px;
    }
    
}
@media screen and (max-width:425px) {

    .second-side-bar h5{
        padding-top: 20px;
    }

}

/* side bar */




/* sliding logoes starts*/
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{

    overflow: hidden;
    padding: 60px 0;
    

}
.logos-slide img{
    height: 100px;
    width: 150px;
    margin: 0 40px;
}
.logos-slide{
    white-space: nowrap;
    animation: 15s slide infinite linear;
}

/* sliding logoes ends*/
